
body>.Fill_Form {
    margin-left: 8px;
    margin-top: 5px;
    width: 1331px;
    color: white;
    background: linear-gradient(
            30deg
            , #0c74dc, #06e081, #1150f3,orangered);
    border-radius: 10px;
}

.Fill_Form >h2,h3{
    font-weight: 600;
    margin: 0 0 0 14px;

}
.Fill_Form #form-example label{
    padding: 3px;
}

.Fill_Form >div>h2{
    font-weight: 200;
    font-size: 15px;
    margin-left: 65%;
}
.Fill_Form >div> label ,input,textarea{
    border: 1px solid green;
    display: block;
    margin-left: 70px;
    width: 40%;
    resize: none;

}
.footer_section .copy_right_title .title_bucket pre{
    font-size: 10px;
}
.title_one{
    font-family: sans-serif;
    color: rgba(254, 255, 236, 0.8);
}
.title-two{
    font-family: sans-serif;
    color: rgba(225, 226, 212, 0.8);
    font-size: 14px;
    margin-left: 130px;
}

.subscribe_btn{
    width: 210px;
    height: 22px;
    margin-left: 30%;
    padding: 5px;
}
.subscribe_btn>input{
    background: linear-gradient(to left,blue,black);
    color: white;
    cursor: pointer;
}
/*===================================================================================*/
body>footer .footer_section{
    display: grid;
    background: linear-gradient(180deg, rgba(7, 7, 7, 0.68),transparent);
}
body>footer .footer_section>div{
    height: 35px;
}
body>footer .footer_section .follow_me{

    color: white;
    text-align: center;
}
body>footer .footer_section .follow_me .title{
    font-size: 11px;
}
body>footer .footer_section .social_icon .social_bucket  >div >i{
    color: white;
    font-size: 25px;
}
body>footer .footer_section .social_icon{
    position: relative;
}
body>footer .footer_section .social_icon .social_bucket{
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    width: max-content;
    bottom: 0;
    position: absolute;
}
body>footer .footer_section .social_icon .social_bucket  >div{
    display: inline-block;
    margin: 5px;
    cursor: pointer;

}
body>footer .footer_section .social_icon .social_bucket >div:nth-child(1)>i{
    color: #318e07;
}
body>footer .footer_section .social_icon .social_bucket >div:nth-child(2)>i{
    color: #13257b;
}
body>footer .footer_section .social_icon .social_bucket >div:nth-child(3)>i{
    color: #c70b7a;
}
body>footer .footer_section .social_icon .social_bucket >div:nth-child(4)>i{
    color: #2e5bc7;
}
body>footer .footer_section .social_icon .social_bucket >div:nth-child(5)>i{
    color: #404440;
}
body>footer .footer_section .copy_right_title{
    color: white;
    font-size: 8px;
    position: relative;
}
body>footer .footer_section .copy_right_title .title_bucket{
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    width: max-content;
    bottom: 5px;
    position: absolute;

}
body>footer .footer_section .find_me {
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 10px;
}
body>footer .footer_section .find_me>div {

    font-size: 15px;
    margin: 5px 0 0 0;

}
body>footer .footer_section .find_me>div a{
    text-decoration: none;
    color: #f1eded;

}
body>footer .footer_section .find_me>div a i{
    color: #f10606;
    font-size: 15px;
    margin: 5px;
}