
body>.Fill_Form{
    color: white;
    background: linear-gradient(to left, #090909, #1acdcd, #151717);
}


.Fill_Form >h2,h3{
    font-weight: 600;
    margin: 0;

}

.Fill_Form >div>h2{
    font-weight: 200;
    font-size: 15px;
    margin-left: 65%;
}
.Fill_Form >div> label ,input,textarea{
    border: 1px solid green;
    display: block;
    margin-left: 70px;
    width: 40%;
    resize: none;

}

.title_one{
    font-family: sans-serif;
    color: rgba(254, 255, 236, 0.8);
}
.title-two{
    font-family: sans-serif;
    color: rgba(225, 226, 212, 0.8);
    font-size: 14px;
    margin-left: 130px;
}

.btn{
    width: 210px;
    height: 22px;
    margin-left: 30%;
    padding: 5px;
}
.btn>input{
    background: linear-gradient(to left,blue,black);
    color: white;
    cursor: pointer;
}
/*--------footer Section-----------*/
body>footer{
    height: 189px;
    display: grid;
    background-color: rgb(8, 8, 8);
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    box-shadow: 1px 2px 3px #faf8f8;


}

body>footer>div:nth-child(1){
    grid-column: 1/4;
    text-align: center;
    color: white;
    margin: 5px;
}
body>footer>div:nth-child(2)>div{
    display: inline-block;
    margin: 5px;
    font-size: 30px;
    cursor: pointer;
}

body>footer>div:nth-child(2)>div:nth-child(1)>i{
    color: #318e07;
}
body>footer>div:nth-child(2)>div:nth-child(2)>i{
    color: #13257b;
}
body>footer>div:nth-child(2)>div:nth-child(3)>i{
    color: #c70b7a;
}
body>footer>div:nth-child(2)>div:nth-child(4)>i{
    color: #2e5bc7;
}
body>footer>div:nth-child(2)>div:nth-child(5)>i{
    color: #404440;
}

body>footer>div:nth-child(2){
    grid-column: 1/4;
    grid-row: 2/4;
    display: inline-block;
    text-align: center;
    padding: 5px;

}
body > footer > div:nth-child(3)>pre{
    color: #f8f5f5;
    width: max-content;
    font-size: 13px;

}
body > footer > div:nth-child(3)>pre>i{
    font-size: 30px;
    color: red;
}
body > footer > div:nth-child(4){
    color: #efeaea;
    font-size: 9px;
    text-align: center;
    position: relative;

}
body > footer > div:nth-child(4)>pre{
    color: #efeaea;
    font-size: 9px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top:10px;
    bottom: 31px;
    margin: auto;

}
body > footer > div:nth-child(5){
    grid-column: 3/4;


}
body > footer > div:nth-child(5){
    text-align: right;
    margin: 3px;
    color: #7f3939;
}

body > footer > div:nth-child(5)>address>a{
    display: block;
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    font-size: 10px;
    text-align: right;
    font-style: normal;


}
body > footer > div:nth-child(5)>address>a>i{
    font-size: 20px;
    color: #dc0c0c;
    margin: 6px;
}